:root {
  --dark-blue: #272f3f;
  --blue: #363f54;
  --red: #e2554f;
  --darker-red: #ca4944;
  --orange: #ed6b2c;
  --light-orange: #ed9837;
  --yellow: #efbe43;
  --off-white: #f2f1ea;
  --gray: #d3d2cc;
  --toc-width: 320px;
  --transparent: rgba(255, 255, 255, 0);
  font-family: "proxima-nova", sans-serif;
  /* font-family: "futura", sans-serif; */
  scroll-behavior: smooth;
  /* --campfire-gradient: radial-gradient(
    circle,
    rgba(239, 190, 67, 1) 12%,
    rgba(237, 152, 55, 1) 32%,
    rgba(237, 107, 44, 1) 49%,
    rgba(226, 85, 79, 1) 75%,
    rgba(39, 47, 63, 1) 100%
  ); */

  --campfire-gradient: linear-gradient(
    319deg,
    rgba(239, 190, 67, 1) 12%,
    rgba(237, 152, 55, 1) 32%,
    rgba(237, 107, 44, 1) 49%,
    rgba(226, 85, 79, 1) 80%,
    rgba(39, 47, 63, 1) 100%
  );
}

/* HEADER + NAV */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  z-index: 100;
  background-color: var(--dark-blue);
  transition: background-color 0.3s;

  img {
    height: 52px;
  }
}

.transparent-background {
  background-color: var(--transparent);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

nav {
  display: flex;
  gap: 10px;

  a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
}

#navigate-top-button {
  line-height: 1;
  color: var(--off-white);
  position: fixed;
  width: 3em;
  height: 3em;
  right: 2%;
  bottom: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  transition: visibility 0.3s, opacity 0.3s linear;
}

#navigate-top-button img {
  width: 50%;
  height: 50%;
  margin-bottom: 2%;
}

.gradient {
  background: var(--campfire-gradient);
  background-position: 50% 75%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HERO SECTION */
#landing-wrap {
  height: 100vh;
  min-height: 750px;
  background-color: var(--dark-blue);
  position: relative;
}

#landing {
  position: relative;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 20;
  padding-top: 120px;

  #landing-title {
    position: absolute;
    transform: translateX(-30%);
    flex-grow: 1;
    z-index: 20;
  }

  #landing-video {
    position: relative;
    transform: translate(50%, 10%);

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-top: -15px;
        font-style: italic;
      }
    }

    img {
      width: 500px;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }

    a svg {
      fill: white;
      transform: scale(0.8);
      transition: transform 0.5s;
    }
    a svg:hover {
      box-shadow: #272f3f;
      transform: scale(0.9);
    }
  }

  h1 {
    font-family: Futura, sans-serif;
    font-size: 4rem;
    margin-top: 10px;
  }

  h2 {
    font-size: 1rem;
    font-family: Futura, sans-serif;
    font-weight: 500;
  }

  /* 
  a {
    box-shadow: 0px 0px 30px var(--dark-blue);
    display: inline-block;
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 500px;
    font-weight: 700;
  } */

  /* a:hover {
    background-color: var(--darker-red);
  } */
}

#landing-wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("../images/stars.avif");
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;
}

/* LANDING-FEATURES TRANSITION */
#landing-features {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 191px;
  z-index: 5;
  margin-top: -180px;
  margin-bottom: -10px;
  background-image: url("../images/hero-features.svg");
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}

#rock-wrapper {
  position: relative;
  max-width: 100%;
  height: 600px;
  z-index: 3;
  margin-top: -500px;
  margin-bottom: -10px;
  background-repeat: no-repeat;
  background-size: cover;
}

#rock-left {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 670px;
  background-image: url("../images/red-rock.svg");
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}
#rock-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 850px;
  height: 670px;
  background-image: url("../images/purple-rock.svg");
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FEATURES SECTION */

#features {
  position: relative;
  background-color: var(--off-white);
  padding: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--dark-blue);

    span {
      font-weight: 400;
      font-style: italic;
    }
  }

  p {
    color: var(--blue);
  }
}

#features-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .text {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-top: 10px;
  }
}

.feature .gif {
  max-width: 356px;
  box-shadow: 10px 10px 0px 3px var(--yellow);
  transition: transform 0.2s ease;
}

.feature .gif:hover {
  transform: scale(1.2);
}

.right {
  box-shadow: 10px 10px 0px 3px var(--light-orange) !important;
}

/* FEATURES-CASE-STUDY TRANSITION */
#features-case-study {
  max-width: 100%;
  height: 191px;
  margin-bottom: -10px;
  background-image: url("../images/features-case-study.svg");
  background-color: var(--off-white);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CASE STUDY SECTION */

#case-study {
  background-color: var(--dark-blue);
  padding: 70px;
  padding-top: 20px;
  color: white;

  /* article wraps case study content */
  article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: var(--toc-width);
    max-width: 700px;
    line-height: 2rem;
  }

  article > section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  p,
  ul,
  ol {
    color: #f2f2f2;
    font-weight: 300;
    font-size: 1.1rem;
  }

  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  img {
    margin: auto;
    width: 100%;
  }

  & > h1 {
    display: inline-block;
    border-top: 2px solid var(--darker-red);
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 70px;
  }

  h1,
  h2,
  h3 {
    font-family: "futura", sans-serif;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  article a {
    color: var(--off-white);
    font-family: "Bodoni Moda", "Times New Roman", Times, serif;
    font-style: italic;
  }

  a:hover {
    color: var(--red);
  }

  article ul li {
    list-style-type: disc;
    list-style: outside;
    padding: 5px;
  }

  #section-4-2-Campfire-Features li:nth-child(even) {
    list-style: none;
    padding: 5px;
  }

  article ol li {
    list-style: outside;
    padding: 5px;
    list-style-type: decimal;
  }

  article ol,
  article ul {
    margin-left: 45px;
  }

  a.reference {
    font-size: 0.75rem;
    color: var(--yellow);
    text-decoration: none;
    padding: 2px;
  }

  a.reference:hover {
    color: var(--light-orange);
  }

  a.reference::before {
    content: "(";
  }

  a.reference::after {
    content: ")";
  }

  .multiple-images {
    display: flex;
    gap: 10px;
  }

  .multiple-images p {
    display: flex;
    flex-direction: column;
  }
}

#case-study-content {
  display: flex;
  gap: 0;
}

/* CASE STUDY TABLE OF CONTENTS */

#toc {
  width: var(--toc-width);
  position: fixed;
  top: 5rem;
  transition: opacity 0.5s ease;
  opacity: 0;

  a {
    display: flex;
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  li.subitem {
    display: none;
  }

  li,
  li.subitem.show {
    display: flex;
    align-items: center;
  }

  li.selected::before {
    display: block;
    border: 4px solid var(--red);
    content: " ";
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--blue);
  }

  li::before {
    display: block;
    content: " ";
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--blue);
  }

  .subitem {
    padding-left: 30px;
  }
}

#toc.show {
  opacity: 1;
}

/* CASE-STUDY-TEAM TRANSITION */

#case-study-team {
  max-width: 100vw;
  height: 191px;
  margin-top: -10px;
  background-image: url("../images/case-study-team.svg");
  background-color: var(--dark-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

/* MEET THE TEAM SECTION */
#team {
  padding: 70px;
  padding-top: 20px;
  background-color: var(--off-white);

  h1 {
    font-size: 2rem;
    display: inline-block;
    padding-right: 5px;
    padding-top: 10px;
    color: var(--dark-blue);
  }
}

.contact-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 70px;

  h2 {
    font-size: 1.35rem;
  }

  p {
    margin-top: -20px;
  }

  img {
    height: 150px;
  }
}

#contact-sheet-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-icons {
  display: flex;
  gap: 2px;

  svg {
    height: 40px;
    transition: 0.3s;
  }
  svg:hover {
    fill: var(--red);
  }
}

/* TEAM-FOOTER TRANSITION */

#team-footer {
  max-width: 100vw;
  height: 191px;
  margin-bottom: -10px;
  background-image: url("../images/team-footer.svg");
  background-color: var(--off-white);
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--gray);
  padding: 30px;
  padding-top: 0;
  font-size: 0.8rem;
}

/* MOBILE SETTINGS */
/* hero */
@media (min-width: 1215px) {
  #landing {
    h1 {
      font-size: 5vw;
    }
  }

  #landing-video {
    img {
      width: 38vw !important;
    }
  }
}

@media (max-width: 990px) {
  #landing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 8vw;
    }

    #landing-title {
      position: relative;
      transform: none;
      text-align: center;
    }

    #landing-video {
      transform: none;
    }
  }
}

@media (max-width: 750px) {
  #rock-wrapper {
    margin-top: -400px;
  }
}

@media (max-width: 590px) {
  #rock-wrapper {
    margin-top: -300px;
  }
}

@media (min-width: 800px) {
  /* CSS code for the breakpoint of 800px wide */

  .feature {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .feature .gif {
    min-width: 300px;
  }

  .right {
    order: 2;
  }
}

@media (max-width: 950px) {
  #toc {
    display: none;
  }

  #case-study article {
    margin-left: 0 !important;
  }
}

@media (max-width: 530px) {
  #case-study {
    padding: 35px !important;
  }
}
